html, body {
    margin: 0;
    padding: 0;
}

.button {
    display: inline-block;
    margin: 20px;
    padding: 20px 30px;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 22px;
}

.cont {
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    transition: 0.2s;
}

.visibl {
    opacity: 1;
    visibility: visible;
}

.overlay {
    position: absolute;
    cursor: pointer;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.box {
    position: absolute;
    padding: 50px 40px;
    border-radius: 5px;
    width: 50%;
    background-color: white;
    z-index: 3;
}

    .box .content {
        font-size: 22px;
    }
